* {
  padding: 0;
  margin: 0;
}

.main {
  min-height: 100vh;
  max-height: fit-content; //не работает :(
  width: 100%;
  // position: relative;
  background-color: red;
  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__header {
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  &__color {
    color: blue;
    text-transform: capitalize;
  }
  &__btn {
    background-color: red;
    text-transform: uppercase;
    padding: 5px;
    // position: absolute;
    // left: 50%;
    // transform: translate(-50%, 0%);
    border: 1px solid black;
  }
  &__memo {
    display: flex;
    flex-wrap: wrap;
  }
  &__cube {
    width: 150px;
    height: 150px;
    border: 1px solid black;
  }
}
